{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styles.css' %}">
</head>
<body class="homepage">
    <h1>Welcome to My Website</h1>
    <p>This is the home page of my website.</p>
    <ul>
        <li><a href="{% url 'post_list' %}">View Diary</a></li>
        <li><a href="{% url 'log_in' %}">Log in</a></li>
        <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
    </ul>
</body>
</html>