{% extends 'base.html' %}

{% load static %}

{% block body %}
<div class="container vh-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="card-offset-sm-1 offset-md-3 offset-lg-4">
                <h1>Welcome to My Website</h1>
                <p>This is the home page of my website.</p>
                <ul class="list-unstyled">
                    <li><a href="{% url 'post_list' %}" class="btn btn-primary btn-lg">
                        View Diary
                        </a>
                    </li>
                    <li><a href="{% url 'log_in' %}" class="btn btn-success btn-lg">
                        Log in
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'sign_up' %}" class="btn btn-info btn-lg">
                        Sign Up
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        overflow-x: scroll;
        background-image: url('{% static "images/river.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

{% endblock %}

