{% extends 'base.html' %}

{% block body %}
<div class="container vh-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="card-offset-sm-1 offset-md-3 offset-lg-4">
                <h1>Welcome to My Website</h1>
                <p>This is the home page of my website.</p>
                <ul>
                    <li><a href="{% url 'post_list' %}" class="btn btn-lg btn secondary">
                        View Diary
                        </a>
                    </li>
                    <li><a href="{% url 'log_in' %}" class="btn btn-lg btn secondary">
                        Log in
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'sign_up' %}" class="btn btn-lg btn secondary">
                        Sign Up
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</div>
{% endblock %}
