{% extends 'base_content.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to your diary</h1>
            {% if posts %}
            <ul>
                {% for post in posts %}
                <li>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <p>Published on: {{ post.pub_date }}</p>
                    <a href="{% url 'post_delete' pk=post.pk %}">Delete</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You have not created a post yet.</p>
            {% endif %}
            <a href="{% url 'home' %}">Home Page</a>
            <a href="{% url 'post_create' %}">Create a New Post</a>
        </div>
    </div>
</div>
{% endblock %}