{% extends 'base_content.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Sign Up</h1>

            <form action="{% url 'sign_up' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="="form-group {% if field.errors %}is-invalid{% elif field.value %}is-valid{% endif %}>
                        {{ field|as_crispy_field }}
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    {{error}}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


